@font-face {
    font-family:"Oswald" ;
    src: url("font/Oswald-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family:"Oswald VÉKONY" ;
    src: url("font/Oswald-ExtraLight.ttf");
    font-weight:200;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


h1 {
    color: rgb(255, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align:center;
}

p{color:rgb(37, 70, 37) ;
    font-family: 'Roboto', sans-serif;
text-align: justify;
text-transform:uppercase;
line-height:30px;

}
img{
    width: 200px;
    height: 200px;
    margin: 30px;
}
  