h1{ color: red}
.kép {
    margin:1%;
    width: 200px;
height: 250px;
box-shadow:5px 5px 10px black;
}
.háttér{ background-color: rgb(113, 113, 230);
margin:70px 20px 20px 20px;
border: solid;
text-align: center}
html{background-color: antiquewhite;}
.szöveg{ 
    font-size: 60px;
    box-shadow: 2px 2px 4px black;
    background-color: rgb(113, 113,230);
    text-align: center;}
#kép{
    margin: 1%;
    width: 300px;
    height: 250px;
    box-shadow: 5px 5px 10px black;

}
.sor{ font-size: 30px;
color: red }